PORT=4010
MONGODB_URI=
JWT_SECRET=
JWT_REFRESH_SECRET=
GOOGLE_PROJECT_ID=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_FOOTBALL_SHEET_ID=
GOOGLE_CRICKET_SHEET_ID=
GOOGLE_FOOTBALL_SHEET_RANGE=Form Responses 1!A:ZZ
GOOGLE_CRICKET_SHEET_RANGE=Form Responses 1!A:ZZ
